.title{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2em;
}
.title > h2 {
    padding-right: 1rem;
}
.title > button {
    padding: 0.5rem 0.75rem;
    font-weight: 500;
}
.cards-info{
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}
.card-info{
    background-color: #e7e7e7;
    min-width: 200px;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5rem 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.description{
    margin: 1rem 0;
}
.dates{
    margin: 1rem 0;
    display: flex;
    gap: 1.5rem;
}