.navItems{
    margin-bottom: 1rem;
    padding: 1rem 0 0 1rem;
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #213547;
}
.selected{
    font-weight: 500;
    border-bottom: 1px solid #213547;
}
h2{
    font-size: 3em;
    font-weight: 300;
}
button{
    margin: 0.25rem;
}
.details{
    background-color: rgb(48, 124, 175);
}
